{{ define "main" }}
{{ partial "navbar.html" . }}
<div class="self-center w-full xl:w-2/3 px-20 px-8 flex flex-col mt-6">
    <div class="self-center">
        {{ $talks:= (site.GetPage "talks").Pages }}
        {{ $talks1 := (sort (where $talks ".Params.session" 1) ".Params.start_time") }}
        {{ $talks2 := (sort (where $talks ".Params.session" 2) ".Params.start_time") }}
        {{ $talks3 := (sort (where $talks ".Params.session" 3) ".Params.start_time") }}

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Arrival and Coffee</h2>
            <div class="mb-4">
                <h6 class="font-bold text-md">Mon, 8:30 - 9:00</h6>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Session 1: Architectures and Optimization</h2>
            {{ range $talks1 }}
            <div class="mb-4">
                {{ if eq .Params.is_break 1}}
                    <h6 class="text-xl italic">Coffee break</h6>
                    <h6 class="text-md">{{ .Params.start_time.Format "Mon, 15:04"}} - {{ .Params.end_time.Format "15:04"}}</h6>
                {{ else }}
                    <a class="text-xl hover:underline" href="{{ .Permalink }}">{{ .Title }}</a>
                    <h6 class="font-bold text-md">{{ .Params.presenter }}, {{.Params.affiliation}}</h6>
                    <h6 class="text-md">{{ .Params.start_time.Format "Mon, 15:04"}} - {{ .Params.end_time.Format "15:04"}}</h6>
                {{ end }}
            </div>
            {{ end }}
        </div>

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Session 2: Multi-geometry wavefunctions</h2>
            {{ range $talks2}}
            <div class="mb-4">
                {{ if eq .Params.is_break 1}}
                    <p class="text-xl italic">Coffee break</p>
                    <h6 class="text-md">{{ .Params.start_time.Format "Mon, 15:04"}} - {{ .Params.end_time.Format "15:04"}}</h6>
                {{ else }}
                    <a class="text-xl hover:underline" href="{{ .Permalink }}">{{ .Title }}</a>
                    <h6 class="font-bold text-md">{{ .Params.presenter }}, {{.Params.affiliation}}</h6>
                    <h6 class="text-md">{{ .Params.start_time.Format "Mon, 15:04"}} - {{ .Params.end_time.Format "15:04"}}</h6>
                {{ end }}
            </div>
            {{ end }}
        </div>

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Poster Session</h2>
            <div class="mb-4">
                <h6 class="text-xl">Informal poster session and time for discussions</a>
                <h6 class="font-bold text-md">Mon, 16:30 - 18:00</h6>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Conference Dinner</h2>
            <div class="mb-4">
                <a class="text-md hover:underline" href="{{ .Permalink }}">TBD</a>
                <h6 class="font-bold text-md">Mon, 19:00</h6>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Arrival and Coffee</h2>
            <div class="mb-4">
                <h6 class="font-bold text-md">Tue, 8:30 - 9:00</h6>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="tracking-wide text-pink-600 font-bold text-2xl mb-2">Session 3: Applications and Periodic Systems</h2>
            {{ range $talks3}}
            <div class="mb-4">
                {{ if eq .Params.is_break 1}}
                    <h6 class="text-xl italic">Coffee break</h6>
                    <h6 class="text-md">{{ .Params.start_time.Format "Mon, 15:04"}} - {{ .Params.end_time.Format "15:04"}}</h6>
                {{ else }}
                    <a class="text-xl hover:underline" href="{{ .Permalink }}">{{ .Title }}</a>
                    <h6 class="font-bold text-md">{{ .Params.presenter }}, {{.Params.affiliation}}</h6>
                    <h6 class="text-md">{{ .Params.start_time.Format "Mon, 15:04"}} - {{ .Params.end_time.Format "15:04"}}</h6>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}